* {
    box-sizing: border-box;
}

/* Search */
.search {
    margin-bottom: 15px;
}

.search input {
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #2b2626;
    margin-right: 10px;
}

.search button {
    padding: 12px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #edcadb;
    border: none;
}

.search button i {

    font-weight: 600;
}

.search button:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}

/* End Search */

/* Filter Price  */
select {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 3px;
    border-radius: 7px;
}

/* End Filter Price  */

/* Category  */
.category-list {
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    font-size: 16px;
    font-weight: 550;
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: pink;
    border-radius: 15px;
    width: calc(100% / 8 - 10px);
    text-align: center;
}

.category-item:hover {
    cursor: pointer;
    background-color: rgba(149, 73, 88, 0.527);
}

/* End Category  */

/* Product  */
.product-list {
    display: flex;
    flex-wrap: wrap;

}

.product-item {
    width: calc(100%/6 - 10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    overflow: hidden;
    /* border: 1px solid #ddd; */
    margin-right: 10px;
    margin-bottom: 15px;
    /* padding: 5px; */
}

.product-item__image {
    width: 100%;
    position: relative;
}

.product-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.product-item .product-item__discount {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: orange;
    display: inline-block;
    color: #fff;
    font-weight: 550;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}

.product-item__content {
    padding: 6px;

}

.product-item__title {
    text-align: left;
}

.product-item__footer {
    display: flex;
    justify-content: space-between;
}

.product-item__price {
    color: red;
    display: inline-block;

}

.product-item__stock {
    color: gray;
    display: inline-block;

}

/* End Product  */

/* Paginate */
.paginate {
    text-align: center;
}

.paginate .paginate__main {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 30px;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.paginate .paginate__main .paginate__button i {
    font-size: 35px;
    color: #e44e68;
}

.paginate .paginate__main .paginate__button:hover {
    cursor: pointer;
}

.paginate .paginate__main .paginate__button:hover i {
    color: #561111;
}

.paginate .paginate__main .paginate__number {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 17px;
    font-weight: 540;
}

/* End Paginate */